:root{
    --dark-color: #3c4245;
    --light-color: #719192;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-container{
    background: linear-gradient(to right, var(--dark-color), var(--light-color));
    height: 450px;
}
.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 2px solid white;
    position: relative;
}
.cloud{
    position: absolute;
}
.mountain{
    position: absolute;
    bottom: 0;
}