:root{
    --dark-color: #3c4245;
    --light-color: #719192;
}
html{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.top-container{
    background: linear-gradient(to right, var(--dark-color), var(--light-color));
    height: 450px;
}
.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    /*border: 2px solid white;*/
    position: relative;
    text-align: center;
}
.cloud{
    position: absolute;
}
.mountain{
    position: absolute;
    bottom: 0;
    left: 0%;
}
.cloud1{
    left: 50%;
    right: 10%;
    top: 20%;
}
.cloud2{
    left: 10%;
    right: 10%;
    top: 40%;
}
h1{
    font-family: 'Long Cang', cursive;
}
.underlined{
    text-decoration: underline;
}
.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}
.profile_image{
    width: 100px;
}
.skills img{
    width: 100px;
}
.img-skill2{
    width: 100px;
    float: right;
    margin-left: 2rem;
    margin-top: 2rem;
}

.middle-container{
    width: 800px;
    margin: 0 auto;
}
.contact-me{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.btn {
    background: #d5e8f5;
    background-image: -webkit-linear-gradient(top, #d5e8f5, #345e78);
    background-image: -moz-linear-gradient(top, #d5e8f5, #345e78);
    background-image: -ms-linear-gradient(top, #d5e8f5, #345e78);
    background-image: -o-linear-gradient(top, #d5e8f5, #345e78);
    background-image: linear-gradient(to bottom, #d5e8f5, #345e78);
    -webkit-border-radius: 26;
    -moz-border-radius: 26;
    border-radius: 26px;
    font-family: Arial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 26px;
    padding: 9px 18px 10px 20px;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
  }
  
  .btn:hover {
    background: #65747d;
    background-image: -webkit-linear-gradient(top, #65747d, #88b4d1);
    background-image: -moz-linear-gradient(top, #65747d, #88b4d1);
    background-image: -ms-linear-gradient(top, #65747d, #88b4d1);
    background-image: -o-linear-gradient(top, #65747d, #88b4d1);
    background-image: linear-gradient(to bottom, #65747d, #88b4d1);
    text-decoration: none;
  }
  .bottom-container{
    margin: 0 auto;
    text-align: center;
    background-color: var(--light-color);
    padding: 2rem 0;
  }
  .bottom-container a{
      display: inline-block;
      text-decoration: none;
      padding:2rem;
      color: var(--dark-color);

  }
  .bottom-container a:hover{
      color: white;
  }